.wr-col {
    display: inline-block;
    box-sizing: border-box;
}

[class*=wr-col-] {
    display: inline-table;
    float: left;
}

@for $i from 1 through 24 {
    .wr-col-#{$i} {
        width: percentage($i / 24);
    }
}