.wr-button {
    outline: none;
    border-radius: 5px;
    font-size: 14px;
}

.round {
    border-radius: 25px;
}

.wr-button-body {
    display: flex;
    align-content: center;
    align-items: center;
}