.wr-row {
    width: 100%;
    display: block;
    position: relative;
}

// .wr-row-flex {
//     display: flex;
// }
.wr-row-flex {
    display: flex;
}

.wr-row-justify--center {
    justify-content: center;
}

.wr-row-justify--end {
    justify-content: flex-end;
}

.wr-row-justify--space-around {
    justify-content: space-around;
}

.wr-row-justify--space-between {
    justify-content: space-between;
}

.wr-row-align {
    align-items: flex-start;
}

.wr-row-align--center {
    align-items: center;
}

.wr-row-align--end {
    align-items: flex-end;
}