.wr-loading {
    display: inline-block;
}

.wr-circle {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    -webkit-animation: wr-circle-animation 1s linear infinite;
    animation: wr-circle-animation 1s linear infinite;
}

@-webkit-keyframes wr-circle-animation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes wr-circle-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.wr-spinner {
    position: relative;
    margin: 5px auto;
    width: 100%;
    height: 100%;
}

.wr-spinner .wr-spinner-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.wr-spinner .wr-spinner-content:before {
    content: '';
    display: block;
    margin: 5% auto;
    width: 5.5%;
    height: 25%;
    -webkit-animation: wr-spinner-animation 1.2s infinite ease-in-out both;
    animation: wr-spinner-animation 1.2s infinite ease-in-out both;
    background-color: #{'var(--wr-spinnerColor)'};
}

.wr-spinner .wr-spinner-item2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.wr-spinner .wr-spinner-item3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.wr-spinner .wr-spinner-item4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.wr-spinner .wr-spinner-item5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.wr-spinner .wr-spinner-item6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.wr-spinner .wr-spinner-item7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.wr-spinner .wr-spinner-item8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.wr-spinner .wr-spinner-item9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.wr-spinner .wr-spinner-item10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.wr-spinner .wr-spinner-item11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.wr-spinner .wr-spinner-item12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.wr-spinner .wr-spinner-item2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.wr-spinner .wr-spinner-item3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.wr-spinner .wr-spinner-item4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.wr-spinner .wr-spinner-item5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.wr-spinner .wr-spinner-item6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.wr-spinner .wr-spinner-item7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.wr-spinner .wr-spinner-item8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.wr-spinner .wr-spinner-item9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.wr-spinner .wr-spinner-item10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.wr-spinner .wr-spinner-item11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.wr-spinner .wr-spinner-item12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes wr-spinner-animation {
    0%,
    39%,
    100% {
        opacity: .3;
    }
    40% {
        opacity: 1;
    }
}

@keyframes wr-spinner-animation {
    0%,
    39%,
    100% {
        opacity: .3;
    }
    40% {
        opacity: 1;
    }
}