.wr-image {
    position: relative;
    font-size: 14px;
    display: inline-block;
    overflow: hidden;
}

.wr-image-img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.wr-image-none,
.wr-image-error,
.wr-image-loading {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #969799;
    font-size: 14px;
    background-color: #f7f8fa;
    width: 100%;
    height: 100%;
}